---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<!-- ——————————————————————— -->
<!--  Manual “Research” sections  -->
<h2>Current Projects</h2>
<h3>2024</h3>
<p><strong>Salience-driven overcompensation in WNBA referees</strong><br>
Race, color, and gender discrimination persistently shape labor market outcomes…identify causal relationships between race, color, and gender in the evaluation of employees.</p>

<p><strong>Novel point transfer mechanism to fix the NBA Draft</strong><br>
In repeated strategic interactions with a final reward…ensuring maximal effort as a subgame perfect equilibrium (SPE).</p>

<p><strong>Making decision education more approachable for K-12 students using tangible sports examples</strong><br>
A project to develop hands-on lesson plans that use sports scenarios to teach probability, expected value, and decision trees.</p>

<h2>Working Papers</h2>
<h3>2025</h3>
<p>Forthcoming…</p>

<h2>Journals</h2>
<h3>2025</h3>
<p>Forthcoming…</p>

<hr>

<!-- ——————————————————————— -->
<!--  Automatic listing of future publications  -->

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}{% continue %}{% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
